body {
  font-family: "Open Sans",sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  background: url(http://magic.wizards.com/sites/all/themes/wiz_mtg/img/interface/background.jpg) center center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0px 191px;
  border: 0;
  padding: 0;

}

.header {
  background: url(http://magic.wizards.com/sites/all/themes/wiz_mtg/img/interface/bg-header.png) 0 0 repeat-x;
  background-color: #151515;
  background-size: auto 100%;
  height: 100px;

}

.header .container {
  height: 100px;
  width: 1200px;
  margin: auto;
}

.header img {
  float: left;
  width: 21%;
}

.nav-top{
  width: 50%;
  float: right;
}

.header .nav li {
  display: inline;
  float: right;
  font-size: 12px;
  margin-right: 20px;
}

.header .nav li a {
  color: #7e7e7e;
  font-size: 11px;
}

.header .nav-top li a:hover{
  color: #be630e;
}

.header form {
  float: right;
  display: inline;
  margin-top: 12px;

}

.header form input {
    border: #424040;
    border-radius: 2px;
    padding-left: 30px;
    width: 140px;
    height: 18px;
    font-size: 10px;
    outline:none;
    background: url(../images/searchicon.png) no-repeat #424040 3px 1px;
}

.nav-main{
  float: right;
  width: 79%;
  margin-top: 17px;
}


.header .menu {
  list-style: none;
  float: right;
  margin: 0;
  text-align: center;
}

.header .menu li {
  float: left;
  text-align: center;
  position: relative;
  list-style: none;


}

.header .menu li a {
    border-left: 1px inset white;
    display: block;
}

.header .menu ul {
    position: absolute;
    top: 50px;
    left: 0;
    padding-left: 0;
    background: #403d3d;
    height: auto;
    text-transform: uppercase;
    display: none;
    width: 100%;
}

.header .menu li:hover ul {
    display: block;
}

.header .nav-main li a {
  color: white;
  font-size: 12px;
  padding: 18px 20px;
  font-weight: 600;
  margin: 0;
  min-width: 100px;

}

.header .menu ul li {
  float:none;
}

.header .active {
  border-bottom: 3px solid #be630e;
  box-sizing: border-box;
  height: 50px!important;
}

.header .nav-main a:hover {
  background-color: #be630e;

}

.jumbotron {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_AboutTheGame_Header_12.jpg) center top;
  background-size: cover;
  height: 500px;
}

.jumbotron .container{
  padding-top: 210px;

}

.jumbotron .title h1,.jumbotron .title h2{
  margin: 0;
  padding: 0;
  background: rgba(33,33,33,.7);
  width: 450px;
  padding-left: 5px;
}

.jumbotron .title h1 {
  font-size: 31px;
  font-weight: 300;
  color: rgba(255,255,255,.5);
  width: 360px;
}

.jumbotron .title h2 {
  font-family: "Beleren Bold",sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: white;
}


.main {
  background: url(http://magic.wizards.com/sites/all/themes/wiz_mtg/img/interface/background.jpg) center center;
}

.main .heading {
  padding-top: 5px;
  font-size: 17px;
  color: #333;
}

.main .heading h2 {
  background:
}

.disps {
  color: white;
}

.disps .content {
  width: 50%;
}

.disps .content h3 {
  padding: 130px 0 0 60px;
  font-size: 2em;
  margin-bottom: 0;
}

.disps .content p {
  padding-left: 60px;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
  padding-bottom: 20px;
}

.btn1 {
  background-color: rgba(100,100,100,.5);
  background: url(../images/disparrow.png) no-repeat #424040;
  color: white;
  padding: 5px 10px 5px 32px;
  margin-left: 100px;
  font-weight: bold;
  float:left;
}

.btn1:hover {
  background-color: #be630e;
}


.disp1 {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_CardSetArchive_inlineR_A_4.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.title1 {
  color: #212121;
  margin: 40px 0 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;

}

.title1 h2 {
  font-weight: normal;
}

.disp2i {
    background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Colors01_intro_InlineR_A.jpg) center center;
    height: 400px;
    width: 100%;

}

.disps form {
  text-align: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.disp2i form input .formw:active {
  display:none;
}

.disp2i form input .formw:active .disp2w {
  display: inherit;
}

.disp2w {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Colors02_white_InlineR_A.jpg) center center;
  height: 400px;
  display: none;
}

.disp2u {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Colors03_blue_InlineR_A.jpg) center center;
  height: 400px;
  display: none;
}

.disp2b {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Colors04_black_InlineR_A.jpg) center center;
  height: 400px;
  display: none;

}

.disp2r {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Colors05_red_InlineR_A.jpg) center center;
  height: 400px;
  display: none;

}

.disp2g {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Colors06_green_InlineR_A.jpg) center center;
  display: none;
  height: 400px;

}



.disp3 {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Deckbuilding_InlineR_A.jpg)center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.disp4 {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_History_InlineR_A_0.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.backtotop{
    margin-top: 115px;
    text-align: center;
}

.backtotop img{
  margin: 0 auto;
  padding: 0;
  display: block;

}

.footer1 {
  background: url(http://magic.wizards.com/sites/all/themes/wiz_mtg/img/interface/where-to-buy-background.jpg) center center repeat-x;
  background-size: cover;
}

.footer1 .container {
  margin: 0 auto;
  max-width: 1200px;
}

.fTop {
  height: 160px;
}


.footer1 .left, .footer1 .right {
  margin: 0;
  padding-top: 30px;
}

.footer1 .left {
  width: 40%;
  float: left;
  color: white;
}

.footer1 .left h4, .footer1 .left p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

.footer1 .left h4 {
  margin-top: 10px;
  font-size: 20px;
}

.footer1 .left img {
  float: left;
  margin: 0 20px 0 45px;
}

.footer1 .right {
  float: right;
  width: 60%;
}

.footer1 .right form .postCode {
  width: 255px;
  background: #d0d0d0;
  color: #333;
  border: 0;
  height: 35px;
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  outline: none;
}

.formButton {
  font-size: 14px;
  height: 38px;
  color: white;
  background: #2f2f2f;
  border: none;
  width: 180px;
  margin-left: 75px;
  font-weight: bold;
}

.formButton:hover {
  background-color: white;
  border: 1px solid #be630e;
  color: #be630e;
}

.footer2 {
  background: #151515;
  padding: 10px 0 50px 0;
}

.footer2 .container {
  margin:0;
}

.footer2 .left {
  float: left;
  width: 150px;
  margin: 80px 40px 0 350px;
}

.footer2 .mid {
  width: 570px;
  color: #a7a7a7;
  padding-top: 5px;
  margin-right: 0;
  float: left;
  margin-right: 30px;
}

.footer2 a {
    color: #a7a7a7;
}

.footer2 a:hover {
    color: #fff;
}

.footer2 .mid .languageSelect {
  margin-left: 200px;
  margin-bottom: 40px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.languageSelect select {
    background: #212121;
    color: #fff;
    border: 1px solid #444;
    padding: 2px;
}

.languageSelect img, .languageSelect .inner {
    float: left;
}

.languageSelect .inner {
    padding-top: 1px;
    margin-left: 5px;
}

.footer2 .mid h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 10px;
}

.footer2 .mid ul {
  margin: 10px 0;
  padding: 0;
}

.footer2 .mid li {
    list-style: none;
    display: block;
    float: left;
    font-weight: 700;
    border-right: 2px solid #333;
}

.footer2 .mid li {
    padding: 0 5px;
}

.footer2 .mid li:first-child {
    padding-left: 0;
}

.footer2 .mid li:last-child {
    border-right: 0;
}

.footer2 .mid .small li {
  font-size: 12px;
  border-right-width: 1px;
}

.footer2 .mid .copyright {
  margin-top: 45px;
  font-size: 11px;
}


.footer2 .right {
  float: left;
  margin-top: 38px;
}

.footer2 .right img {
  padding-bottom: 40px;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
}

.footer2 .mainText {
    border-right: 1px solid #333;
}

.clearfix {
    clear: both;
}

@media all and (max-width: 1200px) {
  .header .container {
    width: auto;
  }
  .header img {
  }
  .header .nav-main {
    width: auto;
  }
  .header .nav-top {
    width: auto;
  }
  .header .nav-main li a {
      padding: 18px 14px;
  }
  .nav-top .nav {
      float: left;
  }
  .nav-main {
      margin-top: 4px;
  }
  .jumbotron {
      height: 350px;
  }
  .jumbotron .container {
      padding-top: 150px;
  }
  .footer2 img{
    margin-left:
  }

}

@media screen and (max-width: 1050px) {
    .nav-main, .nav-top {
        display: none;
    }
    .header, .header .container {
        height: auto;
        min-height: 65px;
    }
}

@media all and (max-width:1024px) {
  .container {
    margin: 0 90px;
  }

  .disps .content h3 {
    padding: 30px 0 0 33px;
  }
  .disps .content p {
    padding-left: 33px;
  }

  .footer1 {
    height:200px;
  }

  .footer1 .left, .footer1 .right {
    width: 100%;
    float: none;
    text-align: center;
  }
  .fTop .left {
      max-width: 390px;
      margin: 0 auto;
  }
  .footer2 .left {
    margin: 90px 10px 0px 0px;

  }
  .footer2 .mid .languageSelect {
    margin-left: 0px;
  }
  .footer2 .mid {
    width: 470px;
    margin-right: 0px;
  }
}

@media all and (max-width:760px) {
  .container {
    margin: 0 30px;
  }
  .jumbotron {
    height: 250px;
  }
  .jumbotron .title h1, .jumbotron .title h2 {
    float: none;
    margin: 0 auto;
  }
  .disps .content h3 {
    padding: 30px 0 0 33px;
  }
  .disps .content p {
    padding-left: 33px;
  }
  .disps .content {
      padding-bottom: 4px;
  }
  .disps form {
      margin-top: 0px;
      padding-bottom: 10px;
  }
  .disp2i, .disp3, .disp1, .disp4 {
      height: auto;
  }
  .disp3 .content::after, .disp4 .content::after {
      content: '';
      display: block;
      clear: both;
  }
  .disp3 .content, .disp4 .content {
      padding-bottom: 20px;
  }
  .btn1 {
      margin-left: 33px;
  }
  .fTop .left {
      max-width: 390px;
      margin: 0 auto;
  }
   .header img{
     float: none;
     margin: 0 auto;
  }

  .footer2 .mid .mainText {
    border: none;
  }
  .footer2 .left {
    clear:both;

  }
}
