body {
  font-family: "Open Sans",sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  background: #151515;
  text-decoration: none;
}


a {
  text-decoration: none;
}
.container {
  margin: 0px 191px;
  border: 0;
  padding: 0;

}

.header {
  background: url(http://magic.wizards.com/sites/all/themes/wiz_mtg/img/interface/bg-header.png) 0 0 repeat-x;
  background-size: auto 100%;
  height: 100px;


}

.header .container {
  height: 100px;

}

.header .home {
  background: url(http://magic.wizards.com/sites/mtg/files/logo-magic.png) center center no-repeat;
  background-size: cover;
  width:258px;
  height:104px;
  float: left;
}

.nav-top{
  height: 50px;
  width: 50%;
  float: right;
}

.header h4 {
  display: inline;
  float: right;
}

.nav-main{
  height:50px;
  width: 100%;
}


.header .menu {
  list-style: none;
  float: right;
  margin: 0;
  text-align: center;
  height: 50px;
}

.header .menu li {
  display: inline;
  min-width: 140px;
  float: left;
  text-align: center;
  height: 35px;
  border-left: 1px inset white;
  padding-top: 15px;

}

.header li a {
  color: white;
  height: 50px;
  font-size: 1em;
  padding: 0px 20px;
  font-weight: 600;
  margin: 0;

}

.header .menu span {

}

.header li:hover {
  background-color: #be630e;

}

.header .dropdown {
  display:none;

}



.jumbotron {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_AboutTheGame_Header_12.jpg) center top;
  background-size: cover;
  height: 500px;
  margin: 0!important;
}

.jumbotron .container{
  padding-top: 210px;

}

.jumbotron .title h1,.jumbotron .title h2{
  margin: 0;
  padding: 0;
  background: rgba(33,33,33,.7);
  width: 450px;
}

.jumbotron .title h2 {
  font-size: 31px;
  font-weight: 300;
  color: rgba(255,255,255,.5);
}

.jumbotron .title h1 {
  font-family: "Beleren Bold",sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: white;
}


.main {
  background: url(http://magic.wizards.com/sites/all/themes/wiz_mtg/img/interface/background.jpg) center center;
}

.main .heading {
  padding-top: 5px;
}

.disps {
  color: white;

}

.disps .content {
  width: 590px;
}

.disps .content h3{
  padding: 115px 0 0 60px;
  font-size: 2em;
  margin-bottom: 0;
}

.disps .content p {
  padding-left: 60px;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}


.disp1 {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_CardSetArchive_inlineR_A_4.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.disp2 .title1 {
  color: #212121;
  margin: 40px 0 20px;
  text-align: center;
  width: 1200px;
  font-size: 2em;

}

.disp2 .title1 h2 {
    font-weight: 100;
}

.disp3 {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_Deckbuilding_InlineR_A.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.disp4 {
  background: url(http://magic.wizards.com/sites/mtg/files/images/featured/EN_History_InlineR_A_0.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}
